@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Rubik', sans-serif;
  height: 0;
  background: none;
}


::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #1F2937;
}
::-webkit-scrollbar-thumb {
  background: #686666;
  border-radius: 6px;
}